@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
}

@layer base {
  h1 {
    @apply text-6xl sm:text-7xl;
    font-weight: 900;
  }
  h2 {
    @apply text-5xl sm:text-6xl;
    font-weight: 800;
  }
  h3 {
    @apply text-4xl sm:text-5xl;
    font-weight: 700;
  }
  h4 {
    @apply text-3xl sm:text-4xl;
    font-weight: 600;

  }
  h5 {
    @apply text-2xl sm:text-3xl;
    font-weight: 500;
  }
  h6 {
    @apply text-xl sm:text-2xl;
    font-weight: 400;
  }
}

@layer components {
  .masonry {
    max-width: calc(50rem * 10);
    columns: 35rem auto;
    @apply mx-auto gap-4;
  }
}

@layer utilities {
  .column-span-all {
    column-span: all;
  }
}

[data-theme="dark"] .btn {
  border-radius: 50%;
}